<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>

    <hr>

    <% if current_user %>
    <div class="col-sm-12">
    <h3>Ratings</h3>
    <br>
    <h4>New Rating</h4>
    <%= form_for [@product, @rating], url: `/products/#{@product.id}/ratings` do |form| %>
      <div class="field">
      <%= form.select :rating, rating: [ 1, 2, 3, 4, 5 ] %>
      <%= form.text_area :description %>
      </div>
      <div class="actions">
      <%= form.submit "Create" %>
    <% end %>
  <% end %>

    <% if @sorted.size > 0 %>
    <h3 class="review-header">Ratings for this Product (<em>Average Rating: <%= @average %> / 5</em>)</h3>
    <dl class="dl-horizontal">
    <% @sorted.each do |rating| %>
      <dt>User Name</dt>
      <% user = User.find_by id: rating.user_id %>
      <dd><%= user.firstname + ' ' + user.lastname %></dd>
      <dt>Rating</dt>
      <dd><%= rating.rating %></dd>
      <dt>Description</dt>
      <dd><%= rating.description %></dd>
      <br>
      <% end %>
    </dl>
    <% elsif @sorted.size == 0 && current_user %>
    <h4>There are no ratings yet for this product. Use the form to write your own!</h4>
    <% else %>
    <h4>There are no ratings yet for this product. Please <a href="/login">login</a> or <a href="/signup">register</a> to write your own!</h4>
    <% end %>
</div>


  </article>

</section>
