<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>

    <hr>

    <div class="col-sm-12">
    <h3>Ratings</h3>
    <br>

    <%= form_for [@product, @rating], url: `/products/#{@product.id}/ratings` do |form| %>
      <h4>New Rating</h4>
      <div class="field">
      <%= form.text_area :description %>
      <%= form.select :rating, rating: [ 1, 2, 3, 4, 5 ] %>
      </div>
      <div class="actions">
      <%= form.submit "Create" %>
    <% end %>

    <dl class="dl-horizontal">
    <% @product.ratings.each do |rating| %>
      <dt>User Name</dt>
      <% user = User.find_by id: rating.user_id %>
      <dd><%= user.firstname + ' ' + user.lastname %></dd>
      <dt>Rating</dt>
      <dd><%= rating.rating %></dd>
      <dt>Description</dt>
      <dd><%= rating.description %></dd>
      <br>
      <% end %>
    </dl>
  </div>


  </article>

</section>
